{% load static %}

{% if post and request.user.is_authenticated %}

    <div class="modal fade bg-dark" id="modalPost" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Postar sobre {{ post.info.name }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                {% if post.topic_aux2 %}
                <form action="{% url post.type post.topic_id post.topic_aux1 post.topic_aux2 %}" method="POST">
                {% elif post.topic_aux1 %}
                <form action="{% url post.type post.topic_id post.topic_aux1 %}" method="POST">
                {% else %}
                <form action="{% url post.type post.topic_id %}" method="POST">
                {% endif %}
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-6 col-md-4 justify-content-between">
                                <img src="
                                        {% if post.info.profile_path %}
                                            https://image.tmdb.org/t/p/original/{{ post.info.profile_path }}
                                        {% elif post.info.poster_path %}
                                            https://image.tmdb.org/t/p/original/{{ post.info.poster_path }}
                                        {% elif post.info.still_path %}
                                            https://image.tmdb.org/t/p/original/{{ post.info.still_path }}
                                        {% else %}
                                            {% static 'no-image.jpeg' %}
                                        {% endif %}" 
                                    alt="{{ movie.title }} Poster" 
                                class="d-block mx-auto rounded" style="max-width: 100%;">

                            </div>

                            <div class="col-sm-6 col-md-8" style="margin-bottom: 10px;">
                                {% for field in post.form.visible_fields %}
                                    <label for="{{ field.id_for_label }}" style="color:#D9D9D9; margin-bottom: 5px;">{{ field.label }}</label>
                                    {% if field.field.widget.input_type == 'checkbox' %}
                                        <div class="form-switch">
                                            {{ field }}
                                        </div>
                                    {% else %}
                                        {{ field }}
                                    {% endif %}
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-success">Postar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

{% endif %}