{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

    <div class="container-xl">
        <h3 class="text-center text-white">Descubra Atores</h3>
        <div class="row flex-nowrap overflow-x-auto overflow-y-auto scrolling-container" style="max-height: 220px;">
            {% for person in people %}
            <div class="card text-bg-dark border-dark mb-3" style="max-width: 120px;">

                <img src="
                {% if person.profile_path %}
                    https://image.tmdb.org/t/p/original/{{ person.profile_path }}
                {% else %}
                    {% static 'no-image.jpeg' %}
                {% endif %}"
                class="card-img" style="max-width: 120px;" alt="...">

                <a href="{% url 'person' person.id %}" class="no-underline text-bg-dark">
                    <div class="card-img-overlay text-truncate" style="max-width: 100px;">
                        <div style="position: absolute; bottom: 0; height: 30%; background-color: rgba(0, 0, 0, 0.5);">
                            <h6 class="card-title text-break text-wrap text-center">{{ person.name }}</h6>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

    <br>

    <div class="container-xl">
        <h3 class="text-center text-white">Descubra Atores</h3>
        <div class="row flex-nowrap overflow-x-auto overflow-y-auto scrolling-container" style="max-height: 220px;">
            {% for person in people %}
            <div class="col-auto text-center" style="max-width: 120px;">
                <figure class="figure">
                    <a href="{% url 'person' person.id %}">
                        <img src="{% if person.profile_path %}https://image.tmdb.org/t/p/original/{{ person.profile_path }}{% else %}{% static 'no-image.jpeg' %}{% endif %}" 
                            class="figure-img img-fluid rounded img-thumbnail" alt="..." style="max-height: 100px;">
                    </a>
                    <figcaption class="text-white text-break text-wrap">{{ person.name }}</figcaption>
                    <figcaption class="text-white text-break text-wrap fst-italic figure-caption">{{ person.known_for_department }}</figcaption>
                </figure>
            </div>
            {% endfor %}
        </div>
    </div>

    <br>

    <div class="container-xl">
        <h3 class="text-center text-white">Descubra Filmes</h3>
        <div id="carouselExample" class="carousel slide bg-dark">
            <div class="carousel-inner">
                {% for movie in movies %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <a href="{% url 'movie' movie.id %}">
                            <img src="https://image.tmdb.org/t/p/original/{{ movie.backdrop_path }}" alt="{{ movie.title }} Poster" class="img-fluid rounded mx-auto d-block" style="max-height: 500px;">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{ movie.title }}</h5>
                                <p>{{ movie.tagline }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    
        <br>
    
        <h3 class="text-center text-white">Descubra Séries de TV</h3>
        <div id="carousel2" class="carousel slide bg-dark">
            <div class="carousel-inner">
                {% for tv in tvSeries %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <a href="{% url 'tvSeries' tv.id %}">
                            <img src="{% if tv.backdrop_path %}https://image.tmdb.org/t/p/original/{{ tv.backdrop_path }}{% else %}{% static 'no-backdrop_path.jpeg' %}{% endif %}" 
                            alt="{{ tv.name }} Poster" class="img-fluid rounded mx-auto d-block" style="max-height: 500px;">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{ tv.name }}</h5>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>


    <br>

{% endblock %}