{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<div class="container-xl">
    <h3 class="text-white text-center">
        {{ movie.title }}
        <span class="badge {% if movie.status == 'Released' %}text-bg-success{% else %}{% static 'no-image.jpeg' %}{% endif %}">
            {{ movie.status }}
        </span>                       
    </h3>
    <div class="row">
        <div class="col-6 col-md-4">
            <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" alt="{{ movie.title }} Poster" 
            class="d-block mx-auto rounded" style="max-height: 500px;">
        </div>
        <div class="col-sm-6 col-md-8">
            
            {% if movie.genres %}
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% for genre in movie.genres %}
                        <li class="breadcrumb-item text-white">{{ genre.name }}</li>
                        {% endfor %}
                    </ol>
                </nav>
            {% endif %}

            <p class="text-white">{{ movie.runtime }} min</p>
            {% if movie.tagline %}
                <p class="text-white"><em>"{{ movie.tagline }}"</em></p>
            {% endif %}
            <p class="text-white">{{ movie.overview }}</p>

            {% if providers %}
                <div class="row text-center">
                    
                    {% if providers.rent %}
                        <div class='col'>
                            <span class="badge rounded-pill text-bg-light">Disponível por aluguel</span><br>
                            {% for provider in providers.rent %}
                                <img src="{% if provider.logo_path %}https://image.tmdb.org/t/p/original/{{ provider.logo_path }}{% else %}{% static 'no-image.jpeg' %}{% endif %}" 
                                class="rounded" alt="..." style="max-height: 50px;">
                            {% endfor %}
                            <br><br>
                        </div>
                    {% endif %}
                    
                    {% if providers.buy %}
                        <div class='col'>
                            <span class="badge rounded-pill text-bg-light">Disponível por compra</span><br>
                            {% for provider in providers.buy %}
                                <img src="{% if provider.logo_path %}https://image.tmdb.org/t/p/original/{{ provider.logo_path }}{% else %}{% static 'no-image.jpeg' %}{% endif %}" 
                                class="rounded" alt="..." style="max-height: 50px;">
                            {% endfor %}
                            <br><br>
                        </div>
                    {% endif %}
                    
                    {% if providers.flatrate %}
                        <div class='col'>
                            <span class="badge rounded-pill text-bg-light">Disponível por assinatura</span><br>
                            {% for provider in providers.flatrate %}
                                <img src="{% if provider.logo_path %}https://image.tmdb.org/t/p/original/{{ provider.logo_path }}{% else %}{% static 'no-image.jpeg' %}{% endif %}" 
                                class="rounded" alt="..." style="max-height: 50px;">
                            {% endfor %}
                            <br><br>
                        </div>
                    {% endif %}
                    
                </div>

            {% endif %}
        </div>
    </div>

    <br>

    <h4 class="text-white">
        Elenco e Equipe
    </h4>

    <div>
        <div class="row flex-nowrap overflow-x-auto overflow-y-auto scrolling-container" style="max-height: 220px;">
            {% for person in cast %}
            <div class="col-auto text-center" style="max-width: 120px;">
                <figure class="figure">
                            <a href="{% url 'person' person.id %}">
                                <img src="{% if person.profile_path %}https://image.tmdb.org/t/p/original/{{ person.profile_path }}{% else %}{% static 'no-image.jpeg' %}{% endif %}" 
                                    class="figure-img img-fluid rounded img-thumbnail" alt="..." style="max-height: 100px;">
                            </a>
                            <figcaption class="text-white text-break text-wrap">{{ person.name }}</figcaption>
                            <figcaption class="text-white text-break text-wrap fst-italic figure-caption">{{ person.known_for_department }}</figcaption>
                        </figure>
                    </div>
            {% endfor %}
        </div>
    </div>

    <br>

</div>
{% endblock %}