{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<div class="container-xl">

    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item text-white"><a href="{% url 'index' %}">Home</a></li>
          <li class="breadcrumb-item active text-white">{{ person.name }}</li>
        </ol>
    </nav>
    
    <h3 class="text-white text-center">
        {{ person.name }}                  
    </h3>
    
    <div class="row">
        <div class="col-6 col-md-4">
            <img src="{% if person.profile_path %}https://image.tmdb.org/t/p/original/{{ person.profile_path }}{% else %}{% static 'no-image.jpeg' %}{% endif %}" alt="{{ movie.title }} Poster" 
            class="d-block mx-auto rounded" style="max-height: 500px;">
        </div>
        <div class="col-sm-6 col-md-8">
            <p class="text-white">
                {% if person.birthday %} <i class="fa-solid fa-cake-candles"></i> {{ person.birthday }} {% endif %}
                {% if person.deathday %} <i class="fa-solid fa-cross"></i> {{ person.deathday }} {% endif %}
            </p>
            <p class="text-white">{{ person.biography }}</p>
        </div>
    </div>

    <br>

    {% if movies.cast or movies.crew %}
    
        <br>
    
        <h4 class="text-white text-center">
            {{ person.name }} em filmes
        </h4>

        {% if movies.cast %}
    
            <br>

            <h5 class="text-white">
                {{ person.name }} no elenco
            </h4>

            <div>
                <div class="row flex-nowrap overflow-x-auto overflow-y-auto scrolling-container" style="max-height: 220px;">
                    {% for movie in movies.cast %}
                        <div class="col-auto text-center" style="max-width: 120px;">
                            <figure class="figure">
                                <a href="{% url 'movie' movie.id %}">
                                    <img src="{% if movie.poster_path %}https://image.tmdb.org/t/p/original/{{ movie.poster_path }}{% else %}{% static 'no-image.jpeg' %}{% endif %}" 
                                        class="figure-img img-fluid rounded img-thumbnail" alt="..."  style="max-height: 100px;">
                                </a>
                                <figcaption class="text-white text-break text-wrap">{{ movie.title }}</figcaption>
                                <figcaption class="text-white text-break text-wrap fst-italic figure-caption">{{ movie.character }}</figcaption>
                            </figure>
                        </div>
                    {% endfor %}
                </div>
            </div>

        {% endif %}

        {% if movies.crew %}
        
            <br>
    
            <h5 class="text-white">
                {{ person.name }} na equipe
            </h4>
    
            <div>
                <div class="row flex-nowrap overflow-x-auto overflow-y-auto scrolling-container" style="max-height: 220px;">
                    {% for movie in movies.crew %}
                    <div class="col-auto text-center" style="max-width: 120px;">
                        <figure class="figure">
                            <a href="{% url 'movie' movie.id %}">
                                <img src="{% if movie.poster_path %}https://image.tmdb.org/t/p/original/{{ movie.poster_path }}{% else %}{% static 'no-image.jpeg' %}{% endif %}" 
                                class="figure-img img-fluid rounded img-thumbnail" alt="..." style="max-height: 100px;">
                            </a>
                            <figcaption class="text-white text-break text-wrap">{{ movie.title }}</figcaption>
                            <figcaption class="text-white text-break text-wrap fst-italic figure-caption">{{ movie.job }}</figcaption>
                        </figure>
                    </div>
                    {% endfor %}
                </div>
            </div>
    
        {% endif %}

    {% endif %}
    
    <br><br>

    {% if tvSeries.cast or tvSeries.crew %}

        <br>

        <h4 class="text-white text-center">
            {{ person.name }} em Séries de TV
        </h4>
        
            {% if tvSeries.cast %}

                <br>

                <h5 class="text-white">
                    {{ person.name }} no elenco
                </h4>

                <div>
                    <div class="row flex-nowrap overflow-x-auto overflow-y-auto scrolling-container" style="max-height: 220px;">
                        {% for tv in tvSeries.cast %}
                            <div class="col-auto text-center" style="max-width: 120px;">
                                <figure class="figure">
                                    <a href="{% url 'tvSeries' tv.id %}">
                                        <img src="{% if tv.poster_path %}https://image.tmdb.org/t/p/original/{{ tv.poster_path }}{% else %}{% static 'no-image.jpeg' %}{% endif %}" 
                                            class="figure-img img-fluid rounded img-thumbnail" alt="..." style="max-height: 100px;">
                                    </a>
                                    <figcaption class="text-white text-break text-wrap">{{ tv.name }}</figcaption>
                                    <figcaption class="text-white text-break text-wrap fst-italic figure-caption">{{ tv.character }}</figcaption>
                                </figure>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            {% endif %}
        
            {% if tvSeries.crew %}

                <br>

                <h5 class="text-white">
                    {{ person.name }} na equipe
                </h4>

                <div>
                    <div class="row flex-nowrap overflow-x-auto overflow-y-auto scrolling-container" style="max-height: 220px;">
                        {% for tv in tvSeries.crew %}
                        <div class="col-auto text-center" style="max-width: 120px;">
                            <figure class="figure">
                                <a href="{% url 'tvSeries' tv.id %}">
                                    <img src="{% if tv.poster_path %}https://image.tmdb.org/t/p/original/{{ tv.poster_path }}{% else %}{% static 'no-image.jpeg' %}{% endif %}" 
                                    class="figure-img img-fluid rounded img-thumbnail" alt="..." style="max-height: 100px;">
                                </a>
                                <figcaption class="text-white text-break text-wrap">{{ tv.name }}</figcaption>
                                <figcaption class="text-white text-break text-wrap fst-italic figure-caption">{{ tv.job }}</figcaption>
                            </figure>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            {% endif %}

    {% endif %}

    <br>

</div>
{% endblock %}