{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<div class="container-xl">

    <div class="row justify-content-between">
        <div class="col text-white text-start">
            <h6 class="text-white text-start">Resultados para '{{ searchText }}'</h6>                   
        </div>
        <div class="col text-white text-end">
            <h6 class="text-white text-end">Mostrando {{ quant_results }} de {{ results.total_results }} resultados.</h6>                   
        </div>
    </div>

    <br>

    {% if results.results %}

        <div class="row row-cols-1 row-cols-md-5 g-4">

            {% for result in results.results %}

                {% if result.media_type == 'movie' %}

                <div class="col">
                    <a href="{% url 'movie' result.id %}">
                        <div class="card text-center h-100">
                            <img src="{% if result.poster_path %}https://image.tmdb.org/t/p/original/{{ result.poster_path }}{% else %}{% static 'no-image.jpeg' %}{% endif %}"
                            class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">{{ result.title }}</h6>
                            </div>
                            <div class="card-footer mt-auto">
                                <small class="text-body-dark"><i class="fa-solid fa-film"></i> Filme</small>
                            </div>
                        </div>
                    </a>
                </div>

                {% elif result.media_type == 'tv' %}

                <div class="col">
                    <a href="{% url 'tvSeries' result.id %}">
                        <div class="card text-center h-100">
                            <img src="{% if result.poster_path %}https://image.tmdb.org/t/p/original/{{ result.poster_path }}{% else %}{% static 'no-image.jpeg' %}{% endif %}"
                            class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">{{ result.name }}</h6>
                            </div>
                            <div class="card-footer mt-auto">
                                <small class="text-body-dark"><i class="fa-solid fa-tv"></i> Série de TV</small>
                            </div>
                        </div>
                    </a>
                </div>
                    
                {% elif result.media_type == 'person' %}

                <div class="col">
                    <a href="{% url 'person' result.id %}">
                        <div class="card text-center h-100">
                            <img src="{% if result.profile_path %}https://image.tmdb.org/t/p/original/{{ result.profile_path }}{% else %}{% static 'no-image.jpeg' %}{% endif %}"
                            class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6 class="card-title">{{ result.name }}</h6>
                            </div>
                            <div class="card-footer mt-auto">
                                <small class="text-body-dark"><i class="fa-solid fa-user"></i> Pessoa - {{ result.known_for_department }}</small>
                            </div>
                        </div>
                    </a>
                </div>
                    
                {% endif %}

            {% endfor %}

        </div>

        <br>

        <div class="row justify-content-between">
            <div class="col text-white text-start">
                <h6 class="text-white text-start">Resultados para '{{ searchText }}'</h6>                   
            </div>
            <div class="col text-white text-end">
                <h6 class="text-white text-end">Mostrando {{ quant_results }} de {{ results.total_results }} resultados.</h6>                   
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col">
                {% if previousPage %}
                    <form method="post" action="{% url 'search' previousPage %}">
                        {% csrf_token %}
                        <input type="hidden" name="searchText" value="{{ searchText }}">
                        <button type="submit" class="btn btn-secondary" name="page_number" value="{{ previousPage }}"><</button>
                    </form>
                {% endif %}
            </div>
            
            <div class="col text-center">
                <button type="submit" class="btn btn-secondary" disabled>
                    {{ results.page }}
                </button>
            </div>
            
            
            <div class="col text-end">
                {% if nextPage %}
                    <form method="post" action="{% url 'search' nextPage %}">
                        {% csrf_token %}
                        <input type="hidden" name="searchText" value="{{ searchText }}">
                        <button type="submit" class="btn btn-secondary" name="page_number" value="{{ nextPage }}">></button>
                    </form>
                {% endif %}
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col text-white text-center">
                <h6 class="text-white text-center">Página {{ results.page }} de {{ results.total_results }}</h6>                   
            </div>
        </div>
    
    {% else %}

        <p>Sem Resultados para a busca.</p>
    
    {% endif %}

    <br>

</div>
{% endblock %}