{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<div class="container-xl">
    <h3 class="text-white text-center">
        {{ season.name }}                     
    </h3>
    <div class="row">
        <div class="col-auto">
            <img src="{% if season.poster_path %}https://image.tmdb.org/t/p/original/{{ season.poster_path }}{% else %}{% static 'no-backdrop_path.jpeg' %}{% endif %}" alt="{{ season.title }} Poster" 
            class="d-block mx-auto rounded" style="max-height: 500px;">
        </div>
        <div class="col-8">

            <p class="text-white">estreia {{ season.air_date }}</p>
            <p class="text-white">
                {% if season.episode_run_time %}
                    {{ season.episode_run_time }} 
                    min. por episódio
                {% endif %}
            </p>
            {% if season.tagline %}
                <p class="text-white"><em>"{{ season.tagline }}"</em></p>
            {% endif %}
            <p class="text-white">{{ season.overview }}</p>

            {% if cast %}

                <h4 class="text-white">
                    Elenco e Equipe
                </h4>

                <div>
                    <div class="row flex-nowrap overflow-x-auto overflow-y-auto scrolling-container" style="max-height: 220px;">
                        {% for person in cast %}
                        <div class="col-auto text-center" style="max-width: 120px;">
                            <figure class="figure">
                                        <a href="{% url 'person' person.id %}">
                                            <img src="{% if person.profile_path %}https://image.tmdb.org/t/p/original/{{ person.profile_path }}{% else %}{% static 'no-image.jpeg' %}{% endif %}" 
                                                class="figure-img img-fluid rounded img-thumbnail" alt="..." style="max-height: 100px;">
                                        </a>
                                        <figcaption class="text-white text-break text-wrap">{{ person.name }}</figcaption>
                                        <figcaption class="text-white text-break text-wrap fst-italic figure-caption">{{ person.known_for_department }}</figcaption>
                                    </figure>
                                </div>
                        {% endfor %}
                    </div>
                </div>

            {% endif %}

        </div>
    </div>

    <br>

    {% if season.episodes %}

        <h4 class="text-white">
            Episódios
        </h4>

        <div class="row flex-nowrap overflow-x-auto overflow-y-auto scrolling-container">
            
            {% for episode in season.episodes %}
            
                <div class="text-bg-dark " style="width: 18rem;">
                    <img src="{% if episode.still_path %}https://image.tmdb.org/t/p/original/{{ episode.still_path }}{% else %}{% static 'no-backdrop_path.jpeg' %}{% endif %}" 
                    class="card-img-top rounded" alt="...">
                    <div class="card-body">
                        <span>{{ episode.runtime }} min.</span>
                        <h5 class="card-title">{{ episode.name }}</h5>
                        <p class="card-text text-break text-wrap">{{ episode.overview }}</p>
                        <a href="{% url 'episode' tvSeries.id season.season_number episode.episode_number %}" class="btn btn-primary">Mais Detalhes...</a>
                    </div>
                </div>
            
            {% endfor %}
        
        </div>

    {% endif %}

    <br>

</div>
{% endblock %}