{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

    <div class="container-xl">
        <ul class="nav nav-underline nav-fill" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link text-bg-dark active" id="home-tab" 
                data-bs-toggle="tab" data-bs-target="#home" type="button" 
                role="tab" aria-controls="home" aria-selected="true">Filmes</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-bg-dark" id="profile-tab" 
                data-bs-toggle="tab" data-bs-target="#profile" type="button" 
                role="tab" aria-controls="profile" aria-selected="false">Séries de TV</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade text-bg-dark show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                {% for movie in movies %}
                    <div class="card text-bg-dark">
                        <a href="{% url 'movie' movie.id %}" class="text-bg-dark">
                            <img src="https://image.tmdb.org/t/p/original/{{ movie.backdrop_path }}" class="card-img" alt="...">
                            <div class="card-img-overlay" 
                            style="background-color: rgba(0, 0, 0, 0.5);">
                                <h6 class="card-title">{{ movie.title }}</h6>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="tab-pane fade text-bg-dark" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                {% for tvSerie in tvSeries %}
                    <div class="card text-bg-dark">
                        <a href="{% url 'tvSeries' tvSerie.id %}" class="text-bg-dark">
                            <img src="https://image.tmdb.org/t/p/original/{{ tvSerie.backdrop_path }}" class="card-img" alt="...">
                            <div class="card-img-overlay" 
                                style="background-color: rgba(0, 0, 0, 0.5);">
                                <h6 class="card-title">{{ tvSerie.name }}</h6>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}