{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

<div class="container-xl">

    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item text-white"><a href="{% url 'index' %}">Home</a></li>
          <li class="breadcrumb-item active text-white">{{ tvSeries.name }}</li>
        </ol>
    </nav>

    <h3 class="text-white text-center">
        {{ tvSeries.name }}
        <span class="badge {% if tvSeries.status == 'Canceled' %}text-bg-danger{% else %}text-bg-success{% endif %}">
            {{ tvSeries.status }}
        </span>                       
    </h3>

    <div class="row">
        <div class="col-6 col-md-4">
            <img src="https://image.tmdb.org/t/p/original/{{ tvSeries.poster_path }}" alt="{{ tvSeries.title }} Poster" 
            class="d-block mx-auto rounded" style="max-height: 500px;">
        </div>
        <div class="col-sm-6 col-md-8">

            {% if tvSeries.genres %}
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% for genre in tvSeries.genres %}
                        <li class="breadcrumb-item text-white">{{ genre.name }}</li>
                        {% endfor %}
                    </ol>
                </nav>
            {% endif %}

            <p class="text-white">inicio {{ tvSeries.first_air_date }}</p>
            <p class="text-white">fim {{ tvSeries.last_air_date }}</p>
            <p class="text-white">
                {% if tvSeries.episode_run_time %}
                    {{ tvSeries.episode_run_time }} 
                    min. por episódio
                {% endif %}
            </p>
            {% if tvSeries.tagline %}
                <p class="text-white"><em>"{{ tvSeries.tagline }}"</em></p>
            {% endif %}
            <p class="text-white">{{ tvSeries.overview }}</p>

            {% if tvSeries.created_by %}
                <h4 class="text-white">
                    Criadores
                </h4>
                <div>
                    <div class="row flex-nowrap overflow-x-auto overflow-y-auto scrolling-container" style="max-height: 220px;">
                        {% for creator in tvSeries.created_by %}
                        <div class="col-auto text-center" style="max-width: 120px;">
                            <figure class="figure">
                                <a href="{% url 'person' creator.id %}">
                                    <img src="{% if creator.profile_path %}https://image.tmdb.org/t/p/original/{{ creator.profile_path }}{% else %}{% static 'no-image.jpeg' %}{% endif %}" 
                                    class="figure-img img-fluid rounded img-thumbnail" alt="..." style="max-height: 100px;">
                                </a>
                                <figcaption class="text-white text-break text-wrap">{{ creator.name }}</figcaption>
                                <figcaption class="text-white text-break text-wrap fst-italic figure-caption">{{ season.episode_count }} episódios</figcaption>
                            </figure>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if providers %}
                <div class="row text-center">
                    
                    {% if providers.rent %}
                        <div class='col'>
                            <span class="badge rounded-pill text-bg-light">Disponível por aluguel</span><br>
                            {% for provider in providers.rent %}
                                <img src="{% if provider.logo_path %}https://image.tmdb.org/t/p/original/{{ provider.logo_path }}{% else %}{% static 'no-image.jpeg' %}{% endif %}" 
                                class="rounded" alt="..." style="max-height: 50px;">
                            {% endfor %}
                            <br><br>
                        </div>
                    {% endif %}
                    
                    {% if providers.buy %}
                        <div class='col'>
                            <span class="badge rounded-pill text-bg-light">Disponível por compra</span><br>
                            {% for provider in providers.buy %}
                                <img src="{% if provider.logo_path %}https://image.tmdb.org/t/p/original/{{ provider.logo_path }}{% else %}{% static 'no-image.jpeg' %}{% endif %}" 
                                class="rounded" alt="..." style="max-height: 50px;">
                            {% endfor %}
                            <br><br>
                        </div>
                    {% endif %}
                    
                    {% if providers.flatrate %}
                        <div class='col'>
                            <span class="badge rounded-pill text-bg-light">Disponível por assinatura</span><br>
                            {% for provider in providers.flatrate %}
                                <img src="{% if provider.logo_path %}https://image.tmdb.org/t/p/original/{{ provider.logo_path }}{% else %}{% static 'no-image.jpeg' %}{% endif %}" 
                                class="rounded" alt="..." style="max-height: 50px;">
                            {% endfor %}
                            <br><br>
                        </div>
                    {% endif %}
                    
                </div>
            {% endif %}
        </div>
    </div>

    <br>

    {% if tvSeries.seasons %}

        <h4 class="text-white">
            Temporadas
        </h4>

        <div>
            <div class="row flex-nowrap overflow-x-auto overflow-y-auto scrolling-container" style="max-height: 220px;">
                {% for season in tvSeries.seasons %}
                <div class="col-auto text-center" style="max-width: 120px;">
                    <figure class="figure">
                                <a href="{% url 'season' tvSeries.id season.season_number %}">
                                    <img src="{% if season.poster_path %}https://image.tmdb.org/t/p/original/{{ season.poster_path }}{% else %}{% static 'no-image.jpeg' %}{% endif %}" 
                                        class="figure-img img-fluid rounded img-thumbnail" alt="..." style="max-height: 100px;">
                                </a>
                                <figcaption class="text-white text-break text-wrap">{{ season.name }}</figcaption>
                                <figcaption class="text-white text-break text-wrap fst-italic figure-caption">{{ season.episode_count }} episódios</figcaption>
                            </figure>
                        </div>
                {% endfor %}
            </div>
        </div>

    {% endif %}

    {% if cast %}

        <br>

        <h4 class="text-white">
            Elenco
        </h4>

        <div>
            <div class="row flex-nowrap overflow-x-auto overflow-y-auto scrolling-container" style="max-height: 220px;">
                {% for person in cast %}
                <div class="col-auto text-center" style="max-width: 120px;">
                    <figure class="figure">
                                <a href="{% url 'person' person.id %}">
                                    <img src="{% if person.profile_path %}https://image.tmdb.org/t/p/original/{{ person.profile_path }}{% else %}{% static 'no-image.jpeg' %}{% endif %}" 
                                        class="figure-img img-fluid rounded img-thumbnail" alt="..." style="max-height: 100px;">
                                </a>
                                <figcaption class="text-white text-break text-wrap">{{ person.name }}</figcaption>
                                <figcaption class="text-white text-break text-wrap fst-italic figure-caption">{{ person.character }}</figcaption>
                            </figure>
                        </div>
                {% endfor %}
            </div>
        </div>
    
    {% endif %}

    {% if crew %}

        <br>

        <h4 class="text-white">
            Equipe
        </h4>

        <div>
            <div class="row flex-nowrap overflow-x-auto overflow-y-auto scrolling-container" style="max-height: 220px;">
                {% for person in crew %}
                <div class="col-auto text-center" style="max-width: 120px;">
                    <figure class="figure">
                                <a href="{% url 'person' person.id %}">
                                    <img src="{% if person.profile_path %}https://image.tmdb.org/t/p/original/{{ person.profile_path }}{% else %}{% static 'no-image.jpeg' %}{% endif %}" 
                                        class="figure-img img-fluid rounded img-thumbnail" alt="..." style="max-height: 100px;">
                                </a>
                                <figcaption class="text-white text-break text-wrap">{{ person.name }}</figcaption>
                                <figcaption class="text-white text-break text-wrap fst-italic figure-caption">{{ person.job }}</figcaption>
                            </figure>
                        </div>
                {% endfor %}
            </div>
        </div>
    
    {% endif %}

    <br>

</div>
{% endblock %}